.grid{
    padding-top: 70px;
    display: grid;
  
    row-gap: 9px;
    column-gap: 9px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    align-items: center;
    justify-items: center;

}
